<h1>Create a new post</h1>

<form action="/new" method="POST" enctype="multipart/form-data" >
<p>Post content
  <input type="textarea" name="content">
</p>
<p>Upload pics
  <input type="file" name="photoURL" accept="image/*">
</p>
<input type="submit">
</form>